.pdp-sidebar__button{
    width: 292px;
    background-color: #5ECE7B;
    border: none;
    margin-top: 20px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 16px;
    cursor: pointer;
}