/* .StyledButton{
    background-color:#FFFFFF;
            border: none;
            font-size: 16;
            font-family: Raleway , sansSerif;
            font-weight: 400;    
            text-transform:uppercase;
            color:#1D1F22;
            transition:0.3s, // не работает     
} */